.navbar {
    a {
        color: $blue;
    }

    .btn-top {
        border-radius: 4px;
        padding-top: 2px;
        height: 30px;
        padding-bottom: 2px;
    }
}

.banner-section {
    height: 433px;

    @media (max-width: 991.98px) {
        height: auto;

        .row {
            display: inline-block;
        }

    }

    .right-side {
        padding: 80px 0px;

        @media (max-width: 991.98px) {
            padding: 80px 0px 0px 0px;
        }

        h2 {
            font-family: $font-family;

            @media (max-width: 991.98px) {
                width: 100% !important;
            }

            font {
                color: $text;
            }
        }

        .form-data {
            width: 350px;
            border-radius: 10px;

            @media (max-width: 991.98px) {
                width: auto;
            }

            h3 {
                font-family: $font-family;

                span {
                    i {
                        color: #ccc;
                    }
                }
            }

            input {
                width: 95%;
            }

            .btn-form {
                border-color: $dark;

            }
        }
    }
}

.bottom-bar {
    .container {
        background: $primary;
        border-radius: 10px;
        padding: 20px;

        p {
            width: 35%;
            text-align: right;

            @media (max-width: 991.98px) {
                width: auto;
                text-align: left;
                margin: 0px !important;
            }
        }
    }
}

.courses-section {
    .row {
        @media (max-width: 991.98px) {

            display: inline-block;

            .col-3 {
                width: auto;
            }

            .col-9 {
                width: auto;
            }

        }

        p {
            color: $gray;
            font-size: 14px;
            font-family: $font-family;
        }

        h3 {
            font-size: 18px;
            font-family: $font-family;

            span {
                position: relative;
                top: 2px;
                padding-left: 6px;
            }
        }
    }

}