// Fonts //

$font-family: 'PT Serif', serif;

// Define Variables colors //
$primary:#24a0d6;
$white: #fff;
$blue:#1400e5;
$text:#2574c2;
$dark:#212529;
$gray: #3f4344;

// Customize Theme colors //
$theme-colors: (
  "primary":    $primary,
  "dark":    $dark,
  
);

